<%- include('includes/head'); %>
  <%- include('includes/nav'); %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
          <h1 class="text-center my-3">Agenda</h1>
          <p class="text-center lead">Seus contatos estão abaixo</p>

          <div class="responsive-table">
            <table class="table">
              <tr>
                <td>Alexandre</td>
                <td>Pereira Cardoso</td>
                <td>15 98169-0626</td>
                <td>cardoal01@gmail.com</td>
              </tr>
            </table>
          </div>

        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>
    </div>



    <%- include('includes/footer'); %>