<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8 my-3">
                    <h1 class="text-center">Criar conta ou Entrar</h1>
                    <p class="text-center lead">Faça login ou crie sua conta abaixo</p>

                    <!-- <%- include('includes/messages'); %> -->

                    <div class="row">

                        <div class="col-md-6 my-5">
                            <h4>Faça seu cadastro</h4>
                            <p>Se você ainda não tem conta, preencha o formulário abaixo:</p>


                        </div>

                        <div class="col-md-6 my-5">
                            <h4>Faça seu login</h4>

                            <p>Se você já tem uma conta, faça login abaixo:</p>



                        </div>

                    </div>

                </div>

                <div class="col-md-2"></div>
            </div>
        </div>

        <%- include('includes/footer') %>